<?xml version="1.0"?>
<robot name="segbot"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Namespace argument for multi-robot -->
  <xacro:arg name="prefix" default=""/>

  <!-- Include URDF/XACRO files -->
  <xacro:include filename="$(find segbot_description)/urdf/v2/common.urdf.xacro"/>
  <xacro:include filename="$(find segbot_description)/gazebo/segbot.gazebo.xacro"/>
  <xacro:include filename="$(find segbot_description)/urdf/segbot_base.urdf.xacro"/>
  <xacro:include filename="$(find segbot_description)/urdf/v2/segbot_chassis.urdf.xacro"/>
  <xacro:include filename="$(find segbot_description)/urdf/mounts/hokuyo_mount.urdf.xacro"/>
  <xacro:include filename="$(find segbot_description)/urdf/mounts/kinect_mount.urdf.xacro"/>
  <xacro:include filename="$(find segbot_description)/urdf/mounts/sensor_plate_mount.urdf.xacro"/>

  <!-- Base robot -->
  <xacro:segbot prefix="$(arg prefix)"/>

  <!-- Chassis -->
  <xacro:segbot_chassis parent="base" prefix="$(arg prefix)">
    <origin xyz="${BASE_PLATE_X_OFFSET*INCH_TO_M} 0 ${BASE_PLATE_Z_OFFSET*INCH_TO_M}"/>
  </xacro:segbot_chassis>
 
  <!-- Kinect -->
  <xacro:kinect_mount
      name="nav_kinect"
      parent="back_right_vertical_beam"
      length="${SENSOR_BEAM_LENGTH*INCH_TO_M}"
      prefix="$(arg prefix)">
    <origin xyz="${1*INCH_TO_M} -${0.5*INCH_TO_M} ${11.5*INCH_TO_M}"
            rpy="-${M_PI/2} -${M_PI/2} 0"/>
  </xacro:kinect_mount>

  <!-- Shared beam -->
  <xacro:beam_8020
      name="hokuyo_sonar_sensor_beam"
      parent="front_left_vertical_beam"
      length="${SENSOR_BEAM_LENGTH*INCH_TO_M}"
      prefix="$(arg prefix)">
    <origin xyz="${1*INCH_TO_M} ${0.5*INCH_TO_M} ${4.5*INCH_TO_M}"
            rpy="${M_PI/2} ${M_PI/2} 0"/>
  </xacro:beam_8020>

  <!-- Hokuyo -->
  <xacro:hokuyo_mount_without_beam
      name="nav_hokuyo"
      parent="hokuyo_sonar_sensor_beam"
      ros_topic="$(arg prefix)/scan"
      update_rate="10"
      min_angle="${-(5 * M_PI)/12}"
      max_angle="${(5 * M_PI)/12}"
      lrange="4.0"
      prefix="$(arg prefix)">
    <origin xyz="${0.5*INCH_TO_M} ${0.75*INCH_TO_M} ${SENSOR_BEAM_LENGTH/2*INCH_TO_M}"
            rpy="${M_PI/2} 0 ${M_PI/2}"/>
  </xacro:hokuyo_mount_without_beam>

<!-- max_angle="${(5 * M_PI)/12}" -->

  <!-- Sensor plate -->
  <xacro:sensor_plate_mount_without_beam
      parent="hokuyo_sonar_sensor_beam"
      length="${SENSOR_BEAM_LENGTH*INCH_TO_M}"
      prefix="$(arg prefix)"/>

  <!-- Top beam -->
  <xacro:beam_8020
      name="front_cap_beam"
      parent="front_right_vertical_beam"
      length="${SENSOR_BEAM_LENGTH*INCH_TO_M}"
      prefix="$(arg prefix)">
    <origin xyz="0 -${0.5*INCH_TO_M} ${36.5*INCH_TO_M}"
            rpy="-${M_PI/2} 0 0"/>
  </xacro:beam_8020>

  <!-- Gazebo controllers -->
  <xacro:gazebo_segbot_ros_controllers prefix="$(arg prefix)"/>
  <xacro:gazebo_joint_state_publisher prefix="$(arg prefix)"/>

</robot>
